<appSettings>
	<add key="WEB_SERVER_IP" value="148.72.22.137/LAMSOON_DEV"/>
	<add key="TMP_FILE_PATH" value="~/data/"/>
	<add key="PHY_PS_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_PHOTO"/>
	<add key="SYSP_UPLD_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_UPLOAD_TEMP"/>
	<add key="SYSP_ATTACH_FILE_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_UPLOAD_TEMP"/>
	<add key="SYSP_TEMP_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_TEMP_FILES"/>
	<add key="PKLIST_BARCODE" value="C:\LAMSOON_DEV\LAMSOON_DEV_TEMP_FILES\PICKLIST"/>
	<add key="PALIST_BARCODE" value="C:\LAMSOON_DEV\LAMSOON_DEV_TEMP_FILES\PALIST"/>
	<add key="SYSP_LOG_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_LOG"/>
	<add key="EXCEL_TMPLT_PATH" value="C:\LAMSOON_DEV\EXCEL_TMPLT"/>
	<add key="tmpExcelFiles" value="C:\LAMSOON_DEV\TempFiles"/>
	<add key="tmpPDFFiles" value="C:\inetpub\wwwroot\PrintingApi\PdfLabel"/>
	<add key="PRGM_LOG_LEVEL" value=""/>
	<add key="DUMMY_VEHICLE" value="DUMMY"/>
	<add key="PHY_THUMBNAIL_DIR" value="C:\LAMSOON_DEV\LAMSOON_DEV_THUMBNAIL"/>
	<add key="DDFORMAT" value="DD/MM/YYYY"/>
	<add key="DDFORMATNO" value="103"/>
	<add key="DDFORMAT2" value="dd/MM/yyyy"/>
	<add key="SDFORMAT" value="YYYY/MM/DD"/>
	<add key="SDFORMAT2" value="yyyy/MM/dd"/>
	<add key="GDTIME" value="YYYY/MM/DD HH24:MI:SS"/>
	<add key="GDTIME2" value="yyyy/MM/dd hh:mm:ss"/>
	<add key="DTTIME" value="DD/MM/YYYY HH24:MI:SS"/>
	<add key="DTTIMENO" value="131"/>
	<add key="DTTIME2" value="dd/MM/yyyy hh:mm:ss"/>
	<add key="ERPDDFORMAT" value="YYYYMMDD"/>
	<add key="KEEPDATADAYS" value="40"/>
	<add key="NewVStorer" value="104,362"/>
	<add key="shortage_report_receiving_email_address" value="madhvendra009@gmail.com" />
	<add key="DB_USER" value="WMS_USER"/>
	<add key="DB_SEC_ACCESS" value="WMS_SEC_ACCESS"/>
	<add key="DB_USER_GROUP_ALLOC" value="WMS_USER_GROUP_ALLOC"/>
	<add key="DB_CTRL_DISPLAY" value="WMS_DETDISP_CONTROL"/>
	<add key="DB_FUNCTION" value="WMS_FUNCTION"/>
	<add key="DB_SEARCH" value="WMS_SEARCH"/>
	<add key="DB_SEARCH_COL" value="WMS_SEARCH_COL"/>
	<add key="DB_COL_DEF" value="WMS_COL_DEF"/>
	<add key="DB_COL_CODE" value="WMS_COL_CODE"/>
	<add key="DB_DOC_NO" value="WMS_DOC_NO"/>

	<add key="SMTP_HOST" value="148.72.22.137"/>
	<add key="cmdTimeOut" value="360"/>
	<add key="SMTP_PORT" value="" />
	<add key="SMTP_SENDUSERNAME" value="" />
	<add key="SMTP_SENDPASSWORD" value="" />

	<add key="From_Email" value=""/>
	<add key="AdminEmail" value="" />

	<add key="RUN_WS_YN" value="Y"/>
	<add key="WIN_SERV_NAME" value="FMSService" />

	<add key="DEBUG_MODE" value="Y"/>

	<add key="FTP_VIDEO_FOLDER" value="C:\FTP\" />
	<add key="VIDEO_VIRTUAL_FOLDER" value="LS_FTP" />

	<add key="MapKingServices.query" value="http://webmap.mapking.com/demo/elogistic/SOAPSRV.php"/>

	<add key="aspnet:MaxHttpCollectionKeys" value="9999999" />
</appSettings>