<!--<connectionStrings>  
    <add name="AspNetMemberShipConnStr" connectionString="Server=S148-72-22-137\LAMSOONDB;Database=ASPNETServices;User ID=sa;Password=Augurs@9848;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Server=S148-72-22-137\LAMSOONDB;Database=LS130325;User ID=sa;Password=Augurs@9848;" providerName="System.Data.SqlClient" />
	<add name="ConnectionStringArch" connectionString="Server=S148-72-22-137\LAMSOONDB;Database=111021;User ID=sa;Password=Augurs@9848;" providerName="System.Data.SqlClient" />
//This was alredy commented <add name="ConnectionStringEBS" connectionString="Server=S148-72-22-137\LAMSOONDB;Database=LAMSOONITXDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>

	<add name="AspNetMemberShipConnStr"
     connectionString="Server=.;Database=ASPNETServices;Integrated Security=True;"  providerName="System.Data.SqlClient"/>


	<add name="ConnectionString"
     connectionString="Server=.;Database=LAMSOONITXDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	
</connectionStrings>
