<membership defaultProvider="AspNetSqlMembershipProvider_DEV">
  <providers>
    <clear />
    
    <add name="AspNetSqlMembershipProvider_DEV"
         type="System.Web.Security.SqlMembershipProvider"
         connectionStringName="AspNetMemberShipConnStr" 
         enablePasswordRetrieval="true"
         enablePasswordReset="true" 
         requiresQuestionAndAnswer="false" 
         requiresUniqueEmail="false"
         maxInvalidPasswordAttempts="200000"
         passwordFormat="Encrypted" 
         minRequiredPasswordLength="4" 
         minRequiredNonalphanumericCharacters="0"
         applicationName="LAMSOONDEMODB" />

    <add name="AspNetSqlMembershipProvider_PROD"
         type="System.Web.Security.SqlMembershipProvider"
         connectionStringName="AspNetMemberShipConnStr"
         enablePasswordRetrieval="true"
         enablePasswordReset="true"
         requiresQuestionAndAnswer="false"
         requiresUniqueEmail="false"
         maxInvalidPasswordAttempts="200000"
         passwordFormat="Encrypted"
         minRequiredPasswordLength="4"
         minRequiredNonalphanumericCharacters="0"
         applicationName="LAMSOONPRODDB" />
  </providers>
</membership>
