<roleManager defaultProvider="RoleProvider_DEV">
  <providers>
    <clear />
    <add connectionStringName="AspNetMemberShipConnStr" applicationName="hke_dev"
      name="RoleProvider_DEV" type="System.Web.Security.SqlMembershipProvider" />
    <add connectionStringName="AspNetMemberShipConnStr" applicationName="hke_prod"
      name="RoleProvider_PROD" type="System.Web.Security.SqlMembershipProvider" />
  </providers>
</roleManager>